.title_homepage {
    width: 100%;
    height: 579px;
    background-size: cover;
    background: #82B9FF url(../storage/homepage_background.jpg) no-repeat;
    z-index: 1;
}


.quick_info {
    width: 100%;
    height: 125px;
    background: #588BED;
    color: white;
    margin-bottom: 20px;
}

.title_text_homepage {
    font-weight: 300;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.btn_appoint {
    width: 310px;
    height: 65px;
    border: none;
    background: white;
    border-radius: 25px;
    font-size: 22px;
    transition: 0.7s;
}

.btn_appoint:hover {
    background: #59FF7D;
    -webkit-transform: scale(1.05);
}

.block {
    text-align: center;
    padding: 10px;
}

.titles {
    font-weight: 400;
    font-size: 36px;
    color: black;
    margin: 20px 0;
}

.number {
    font-weight: 700;
    font-size: 42px;
    margin: 0;
}

.desc {
    font-weight: 500;
    font-size: 22px;
}

.btn_poly_orange {
    border: none;
    width: 600px;
    height: 60px;
    margin: 0 5px 20px 5px;
    background: #FFAA47;
    border-radius: 25px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.4s;
}

.btn_poly_orange:hover {
    -webkit-transform: scale(1.05);
}

.btn_poly_blue {
    border: none;
    margin: 0 5px 20px 5px;
    width: 600px;
    height: 60px;
    background: #3E51B2;
    border-radius: 25px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.4s;
}

.btn_poly_blue:hover {
    -webkit-transform: scale(1.05);
}

.udm_item {
    color: black;
    font-size: 22px;
    transition: 0.5s;
}

.udm_item:hover {
    text-decoration-line: underline;
    cursor: pointer;
}
